.box-box {
    display: flex;
}
.box1 {
    background-color: red;
    height: 200px;
    width: 300px;
    margin: 30px 30px;
    display: flex;
    font-size: 10px;color: white;
}
img {
    height: 300px;
    width: 250px;
    position: relative;
    right: 30px;
    display: block;
    bottom: 20px;
    right: 20px;

}
.box2 {
    background-color: springgreen;
    height: 200px;
    width: 300px;
    margin: 80px 80px;
    margin-right: 40px;
    display: flex;
    font-size: 10px;color: white;
}
.box3 {
    background-color: royalblue;
    height: 200px;
    width: 300px;
    margin-left: 30px 30px;

}


